<!-- /* File name: bottom_nav.ejs
 * Student name: Naveen Kanmani Thirunavukkarasu
 * Student ID: 301247248
 * Date: Oct 6, 2022 */ -->
 
 <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright 2022. All Rights reserved.</h6>
    </nav>
  </footer>